# Ignore everything
*

# But keep directories (so Git can traverse them)
!*/

# Allow Python source files
!*.py

# Allow icon files
!*.ico

# Allow Markdown files
!*.md

# Allow built exe file
!*.exe

# Allow gitignore file
!*.gitignore